.me-sprite .enter {
 background-color: transparent;
 background-image: url("http://statics.ideabile.com/img/works/me/mauro_enter.jpg");
 background-repeat: no-repeat;
 width: 150px;  }
.me-sprite .enter.frame-0 { background-position: 0 0; }
.me-sprite .enter.frame-1 { background-position: -300px 0; }
.me-sprite .enter.frame-2 { background-position: -450px 0; }
.me-sprite .enter.frame-3 { background-position: -600px 0; }
.me-sprite .enter.frame-4 { background-position: -750px 0; }
.me-sprite .enter.frame-5 { background-position: -900px 0; }
.me-sprite .enter.frame-6 { background-position: -1050px 0; }
.me-sprite .enter.frame-7 { background-position: -1200px 0; }
.me-sprite .enter.frame-8 { background-position: -1350px 0; }
.me-sprite .enter.frame-9 { background-position: -1500px 0; }
.me-sprite .enter.frame-10 { background-position: -1650px 0; }
.me-sprite .enter.frame-11 { background-position: -1800px 0; }
.me-sprite .enter.frame-12 { background-position: -1950px 0; }
.me-sprite .enter.frame-13 { background-position: -2100px 0; }
.me-sprite .enter.frame-14 { background-position: -2250px 0; }
.me-sprite .enter.frame-15 { background-position: -2400px 0; }
.me-sprite .enter.frame-16 { background-position: -2550px 0; }
.me-sprite .enter.frame-17 { background-position: -2700px 0; }
.me-sprite .enter.frame-18 { background-position: -2850px 0; }
.me-sprite .enter.frame-19 { background-position: -3000px 0; }
.me-sprite .enter.frame-20 { background-position: -3150px 0; }
.me-sprite .enter.frame-21 { background-position: -3300px 0; }
.me-sprite .enter.frame-22 { background-position: -3450px 0; }
.me-sprite .enter.frame-23 { background-position: -3600px 0; }
.me-sprite .enter.frame-24 { background-position: -3750px 0; }
.me-sprite .enter.frame-25 { background-position: -3900px 0; }
.me-sprite .enter.frame-26 { background-position: -4050px 0; }
.me-sprite .enter.frame-27 { background-position: -4200px 0; }
.me-sprite .enter.frame-28 { background-position: -4350px 0; }
.me-sprite .enter.frame-29 { background-position: -4500px 0; }
.me-sprite .enter.frame-30 { background-position: -4650px 0; }
.me-sprite .enter.frame-31 { background-position: -4800px 0; }
.me-sprite .enter.frame-32 { background-position: -4950px 0; }
.me-sprite .enter.frame-33 { background-position: -5100px 0; }
.me-sprite .enter.frame-34 { background-position: -5250px 0; }
.me-sprite .enter.frame-35 { background-position: -5400px 0; }
.me-sprite .enter.frame-36 { background-position: -5550px 0; }
.me-sprite .enter.frame-37 { background-position: -5700px 0; }
.me-sprite .enter.frame-38 { background-position: -5850px 0; }
.me-sprite .enter.frame-39 { background-position: -6000px 0; }
.me-sprite .enter.frame-40 { background-position: -6150px 0; }
.me-sprite .enter.frame-41 { background-position: -6300px 0; }
.me-sprite .enter.frame-42 { background-position: -6450px 0; }
.me-sprite .enter.frame-43 { background-position: -6600px 0; }
.me-sprite .enter.frame-44 { background-position: -6750px 0; }
.me-sprite .enter.frame-45 { background-position: -6900px 0; }
.me-sprite .enter.frame-46 { background-position: -7050px 0; }
.me-sprite .enter.frame-47 { background-position: -7200px 0; }
.me-sprite .enter.frame-48 { background-position: -7350px 0; }
.me-sprite .enter.frame-49 { background-position: -7500px 0; }
.me-sprite .enter.frame-50 { background-position: -7650px 0; }
.me-sprite .enter.frame-51 { background-position: -7800px 0; }
.me-sprite .enter.frame-52 { background-position: -7950px 0; }
.me-sprite .enter.frame-53 { background-position: -8100px 0; }
.me-sprite .enter.frame-54 { background-position: -8250px 0; }
.me-sprite .enter.frame-55 { background-position: -8400px 0; }
.me-sprite .enter.frame-56 { background-position: -8550px 0; }
.me-sprite .enter.frame-57 { background-position: -8700px 0; }
.me-sprite .enter.frame-58 { background-position: -8850px 0; }
.me-sprite .enter.frame-59 { background-position: -9000px 0; }
.me-sprite .enter.frame-60 { background-position: -9150px 0; }
.me-sprite .enter.frame-61 { background-position: -9300px 0; }
.me-sprite .enter.frame-62 { background-position: -9450px 0; }
.me-sprite .enter.frame-63 { background-position: -9600px 0; }
.me-sprite .enter.frame-64 { background-position: -9750px 0; }
.me-sprite .enter.frame-65 { background-position: -9900px 0; }
.me-sprite .enter.frame-66 { background-position: -10050px 0; }
.me-sprite .enter.frame-67 { background-position: -10200px 0; }
.me-sprite .enter.frame-68 { background-position: -10350px 0; }
.me-sprite .enter.frame-69 { background-position: -10500px 0; }
.me-sprite .enter.frame-70 { background-position: -10650px 0; }
.me-sprite .enter.frame-71 { background-position: -10800px 0; }
.me-sprite .enter.frame-72 { background-position: -10950px 0; }
.me-sprite .enter.frame-73 { background-position: -11100px 0; }
.me-sprite .enter.frame-74 { background-position: -11250px 0; }
.me-sprite .enter.frame-75 { background-position: -11400px 0; }
.me-sprite .enter.frame-76 { background-position: -11550px 0; }
.me-sprite .enter.frame-77 { background-position: -11700px 0; }
.me-sprite .enter.frame-78 { background-position: -11850px 0; }
.me-sprite .enter.frame-79 { background-position: -12000px 0; }
.me-sprite .enter.frame-80 { background-position: -12150px 0; }
.me-sprite .enter.frame-81 { background-position: -12300px 0; }
.me-sprite .enter.frame-82 { background-position: -12450px 0; }
.me-sprite .enter.frame-83 { background-position: -12600px 0; }
.me-sprite .enter.frame-84 { background-position: -12750px 0; }
.me-sprite .enter.frame-85 { background-position: -12900px 0; }
.me-sprite .enter.frame-86 { background-position: -13050px 0; }
.me-sprite .enter.frame-87 { background-position: -13200px 0; }
.me-sprite .enter.frame-88 { background-position: -13350px 0; }
.me-sprite .enter.frame-89 { background-position: -13500px 0; }
.me-sprite .enter.frame-90 { background-position: -13650px 0; }
.me-sprite .enter.frame-91 { background-position: -13800px 0; }
.me-sprite .enter.frame-92 { background-position: -13950px 0; }
.me-sprite .enter.frame-93 { background-position: -14100px 0; }
.me-sprite .enter.frame-94 { background-position: -14250px 0; }
.me-sprite .enter.frame-95 { background-position: -14400px 0; }
.me-sprite .enter.frame-96 { background-position: -14550px 0; }
.me-sprite .enter.frame-97 { background-position: -14700px 0; }
.me-sprite .enter.frame-98 { background-position: -14850px 0; }
.me-sprite .enter.frame-99 { background-position: -15000px 0; }
.me-sprite .enter.frame-100 { background-position: -15150px 0; }
.me-sprite .enter.frame-101 { background-position: -15300px 0; }
.me-sprite .enter.frame-102 { background-position: -15450px 0; }
.me-sprite .enter.frame-103 { background-position: -15600px 0; }
.me-sprite .enter.frame-104 { background-position: -15750px 0; }
.me-sprite .enter.frame-105 { background-position: -15900px 0; }
.me-sprite .enter.frame-106 { background-position: -16050px 0; }
.me-sprite .enter.frame-107 { background-position: -16200px 0; }
.me-sprite .enter.frame-108 { background-position: -16350px 0; }
.me-sprite .enter.frame-109 { background-position: -16500px 0; }
.me-sprite .enter.frame-110 { background-position: -16650px 0; }
.me-sprite .enter.frame-111 { background-position: -16800px 0; }
.me-sprite .enter.frame-112 { background-position: -16950px 0; }
.me-sprite .enter.frame-113 { background-position: -17100px 0; }
.me-sprite .enter.frame-114 { background-position: -17250px 0; }
.me-sprite .enter.frame-115 { background-position: -17400px 0; }
.me-sprite .enter.frame-116 { background-position: -17550px 0; }
.me-sprite .enter.frame-117 { background-position: -17700px 0; }
.me-sprite .enter.frame-118 { background-position: -17850px 0; }
.me-sprite .enter.frame-119 { background-position: -18000px 0; }
.me-sprite .enter.frame-120 { background-position: -18150px 0; }
.me-sprite .enter.frame-121 { background-position: -18300px 0; }
.me-sprite .enter.frame-122 { background-position: -18450px 0; }
.me-sprite .enter.frame-123 { background-position: -18600px 0; }
.me-sprite .enter.frame-124 { background-position: -18750px 0; }
.me-sprite .enter.frame-125 { background-position: -18900px 0; }
.me-sprite .enter.frame-126 { background-position: -19050px 0; }
.me-sprite .enter.frame-127 { background-position: -19200px 0; }
.me-sprite .enter.frame-128 { background-position: -19350px 0; }
.me-sprite .enter.frame-129 { background-position: -19500px 0; }
.me-sprite .enter.frame-130 { background-position: -19650px 0; }
.me-sprite .enter.frame-131 { background-position: -19800px 0; }
.me-sprite .enter.frame-132 { background-position: -19950px 0; }
.me-sprite .enter.frame-133 { background-position: -20100px 0; }
.me-sprite .enter.frame-134 { background-position: -20250px 0; }
.me-sprite .enter.frame-135 { background-position: -20400px 0; }
.me-sprite .enter.frame-136 { background-position: -20550px 0; }
.me-sprite .enter.frame-137 { background-position: -20700px 0; }
.me-sprite .enter.frame-138 { background-position: -20850px 0; }
.me-sprite .enter.frame-139 { background-position: -21000px 0; }
.me-sprite .enter.frame-140 { background-position: -21150px 0; }
.me-sprite .enter.frame-141 { background-position: -21300px 0; }
.me-sprite .enter.frame-142 { background-position: -21450px 0; }
.me-sprite .enter.frame-143 { background-position: -21600px 0; }
.me-sprite .enter.frame-144 { background-position: -21750px 0; }
.me-sprite .enter.frame-145 { background-position: -21900px 0; }

